label {
  margin: .5em;
  font-size: 2em;
  font-variant-numeric: tabular-nums;
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  align-items: baseline;
  justify-items: start;
  gap: 1em;
}
