/* the props */
@import "open-props/style";

/* optional imports that use the props */
@import "open-props/normalize";
@import "open-props/buttons";

@import "./ui.css";

body {
  display: grid;
  place-items: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
