label {
  margin: .5em;
  font-size: 2em;
  font-variant-numeric: tabular-nums;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: baseline;
  gap: 1em;
}

span:first-child {
  justify-self: end;
}