@import "open-props/style";



.formWrapper {
  background-color: var(--surface-2);
  padding: var(--size-6);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-3);
  width: 75vw;
  max-width: 50ch;
}

.title {
  color: var(--text-1);
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-7);
  margin-bottom: var(--size-4);
  text-align: center;
}

meter {
  width: 100%;
}

.requirements {
  color: var(--text-2);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-4);
  margin-left: 0;
  padding-left: var(--size-3);
}


